.learn-more{
  position: relative;
  left: 3rem;
  top: 7rem;
}
.header-container{
  width: 90vw;
}

@media screen and (min-width: 420px ) and (max-width:720px) {
  .learn-more {
    position: relative;

  }
}

